.grid {
    display: flex;
    flex-wrap: wrap;
    border: solid 15px;
    width: 300px;
    height: 300px;
    margin: 20px 120px 0px 800px;
}
.grid div{
    width: 20px;
    height: 20px;
}

.shooter{
    background-color: blue;

}
.invader {
    background-color: purple;
    border-radius: 10px;

}
.boom {
    background-color: red;
}

.laser {
    background-color: orange;
}
body {
    background-image: url(img/space.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-color: black;

}
h3 {
    text-align: center;
    margin-top: 400px;
}